.invalid-feedback {
  display: block;
}

.login {
  width: 65vw;
  border: 1px solid #a4a4a4;
  padding: 50px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
}

.error-text {
  text-align: center;
  margin-top:10px;
}
