<div class="container login">
  <h1>Bike Rental - Registration</h1>
  <form [formGroup]="registrationForm">
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input class="form-control" formControlName="login" placeholder="Username"
        [ngClass]="{'is-invalid':registrationForm.get('login').touched && registrationForm.get('login').invalid }">
      <div *ngIf="registrationForm.get('login').touched && registrationForm.get('login').invalid">
        <p class="invalid-feedback">Username is required!</p>
      </div>
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password" placeholder="Password"
        [ngClass]="{'is-invalid':registrationForm.get('password').touched && registrationForm.get('password').invalid }">
      <div *ngIf="registrationForm.get('password').touched && registrationForm.get('password').invalid">
        <p class="invalid-feedback">Password is required!</p>
      </div>
    </div>
    <div class="form-group">
      <label>E-mail</label>
      <input type="text" class="form-control" formControlName="email" placeholder="email@me.io"
        [ngClass]="{'is-invalid':registrationForm.get('email').touched && registrationForm.get('email').invalid }">
      <div *ngIf="registrationForm.get('email').touched && registrationForm.get('email').errors?.required">
        <p class="invalid-feedback">E-mail is required!</p>
      </div>
      <div *ngIf="registrationForm.get('email').touched && registrationForm.get('email').errors?.email">
        <p class="invalid-feedback">Please use the correct email format!</p>
      </div>
    </div>
    <div class="form-group">
      <label>Phone Number</label>
      <input type="text" class="form-control" formControlName="number" placeholder="xxx xxx xxx"
        [ngClass]="{'is-invalid':registrationForm.get('number').touched && registrationForm.get('number').invalid }">
      <div *ngIf="registrationForm.get('number').touched && registrationForm.get('number').errors?.required">
        <p class="invalid-feedback">Phone Number is required!</p>
      </div>
      <div *ngIf="registrationForm.get('number').errors?.maxlength">
        <p class="invalid-feedback">The Maximum length of phone number is 11 characters!</p>
      </div>
    </div>
    <button [disabled]="!registrationForm.valid" (click)="registerUser()" class="btn btn-primary">Register</button>
  </form>
  <button (click)="logIn()" class="btn btn-secondary helper-btn">Log In</button>
  <!-- <div *ngIf="error" class="error-text invalid-feedback">Your username or password was entered incorrectly!</div> -->
</div>
