<div class="container text-center">
  <h1>Stations</h1>
  <h2 class="pb-4">Total: {{stations.length}}</h2>

  <input [formControl]="filterForm" (change)="filterStations(filterForm.value)" type="text" class="form-control mb-1" placeholder="Filter stations...">

  <table id="stationTable" class="table table-bordered table-striped table-dark" cellspacing="0" width="100%">
    <thead>
      <tr class="d-flex">
        <th class="col-1">
          <a role="button" (click)="sortType = 'stationId'; sortReverse = !sortReverse; sortStations('stationId')">
            ID
            <span *ngIf="sortType === 'stationId' && !sortReverse" class="fa fa-caret-down"></span>
            <span *ngIf="sortType === 'stationId' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th class="col-3">
          <a role="button" (click)="sortType = 'address'; sortReverse = !sortReverse; sortStations('address')">
            Address
            <span *ngIf="sortType === 'address' && !sortReverse" class="fa fa-caret-down"></span>
            <span *ngIf="sortType === 'address' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th class="col-2">
          <a role="button" (click)="sortType = 'lat'; sortReverse = !sortReverse; sortStations('lat')">
            Latitude
            <span *ngIf="sortType === 'lat' && !sortReverse" class="fa fa-caret-down"></span>
            <span *ngIf="sortType === 'lat' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th class="col-2">
          <a role="button" (click)="sortType = 'lng'; sortReverse = !sortReverse; sortStations('lng')">
            Longitude
            <span *ngIf="sortType === 'lng' && !sortReverse" class="fa fa-caret-down"></span>
            <span *ngIf="sortType === 'lng' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th class="col-2">
          Expand
        </th>
        <th class="col-2">
          Remove
        </th>
      </tr>
    </thead>
    <tbody>
      <app-station-item style="display: contents;" *ngFor="let station of filteredStations" [station]="station" [includeLatLng]="true">
      </app-station-item>
    </tbody>
  </table>
  <button type="button" (click)="addStation()" class="btn btn-success">Add station</button>
</div>
