<div class="container text-center">
  <h1>Active users</h1>
  <h2 class="pb-4">Total: {{ totalRecords }}</h2>

  <input [formControl]="filterForm" (change)="filterUsers(filterForm.value)" type="text" class="form-control mb-1" placeholder="Filter users (press ENTER to filter)...">

  <table id="userTable" class="table table-bordered table-striped table-dark" cellspacing="0" width="100%">
    <thead>
      <tr class="d-flex">
        <th class="col-1">
          <a role="button" (click)="sortType = 'userId'; sortReverse = !sortReverse; sortUsers('userId')">
            ID
            <span *ngIf="sortType === 'userId' && !sortReverse" class="fa fa-caret-down"></span>
            <span *ngIf="sortType === 'userId' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th class="col-2">
          <a role="button" (click)="sortType = 'login'; sortReverse = !sortReverse; sortUsers('login')">
            Login
            <span *ngIf="sortType === 'login' && !sortReverse" class="fa fa-caret-down"></span>
            <span *ngIf="sortType === 'login' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th class="col-3">
          <a role="button" (click)="sortType = 'email'; sortReverse = !sortReverse; sortUsers('email')">
            Email
            <span *ngIf="sortType === 'email' && !sortReverse" class="fa fa-caret-down"></span>
            <span *ngIf="sortType === 'email' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th class="col-2">
          <a role="button" (click)="sortType = 'phoneNumber'; sortReverse = !sortReverse; sortUsers('phoneNumber')">
            Phone number
            <span *ngIf="sortType === 'phoneNumber' && !sortReverse" class="fa fa-caret-down"></span>
            <span *ngIf="sortType === 'phoneNumber' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th class="col-2">
          Promote to admin
        </th>
        <th class="col-2">
          Remove
        </th>
      </tr>
    </thead>
    <tbody>
      <app-user-item style="display: contents;" *ngFor="let user of filteredUsers | paginate: {
        id: 'usersTable',
        itemsPerPage: 10,
        currentPage: page }" [user]="user">
      </app-user-item>
    </tbody>
  </table>
  <div style="border-radius: 25px; background-color: #808080; color: #2199e8;">
    <pagination-controls  id="usersTable"
                        (pageChange)="page = $event"
                        maxSize="10"
                        directionLinks="true"
                        autoHide="true"
                        responsive="true"
                        previousLabel="Previous"
                        nextLabel="Next">
    </pagination-controls>
  </div>
</div>
