<div class="container text-center">

  <!-- <div class="alert alert-info">
    <h4>DEBUG</h4>
    <p>Station ID: {{ stationId }}</p>
    <p>Sort Type: {{ sortType }}</p>
    <p>Sort Reverse: {{ sortReverse }}</p>
    <p>Search Query: {{ filterForm.value }}</p>
  </div> -->

  <input [formControl]="filterForm" (change)="filterBikes(filterForm.value)" type="text" class="form-control mb-1" placeholder="Filter bikes...">

  <table id="bikeTable" class="table table-bordered table-striped table-dark" cellspacing="0" width="100%">
    <thead>
      <tr class="fd-flex">
        <th class="col-1">
          <a role="button" (click)="sortType = 'bikeId'; sortReverse = !sortReverse; sortBikes('bikeId')">
            ID
            <span *ngIf="sortType == 'bikeId' && !sortReverse" class="fa fa-caret-down"></span>
            <span *ngIf="sortType == 'bikeId' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th class="col-9">
          <a role="button" (click)="sortType = 'name'; sortReverse = !sortReverse; sortBikes('name')">
            Name
            <span *ngIf="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
            <span *ngIf="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th class="col-2">
          Remove
        </th>
      </tr>
    </thead>
    <tbody>
      <app-bike-item style="display: contents;" *ngFor="let bike of filteredBikes" [bike]="bike">
      </app-bike-item>
    </tbody>
  </table>
</div>
