<tr class="d-flex">
    <td class="align-middle col-1">{{ station.stationId }}</td>
    <td class="align-middle col-7">{{ station.address }}</td>
    <td class="align-middle col-2">{{ availableBikesCount }}</td>
    <td class="align-middle col-2">
      <button role="button" class="btn" [class.btn-primary]="!isRented && availableBikesCount > 0"
              [class.btn-secondary]="isRented || availableBikesCount === 0" (click)="rentBike()"
              [disabled]="isRented || availableBikesCount === 0">Rent</button>
    </td>
</tr>
